<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"greengrass/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	
<!-- wp:pattern {"slug":"greengrass/services"} /-->

<!-- wp:pattern {"slug":"greengrass/quote"} /-->

<!-- wp:pattern {"slug":"greengrass/team"} /-->

<!-- wp:pattern {"slug":"greengrass/latest-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->